.main_heading {
    background-color: navy;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid white;
}

.main_heading > span {
    border: 2px solid white;
    padding: 3px;
    margin-top: px;
    background-color: orange;
    border-radius: 12px;
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-weight: 1000;
}